dbsc/saml/dbsc-saml.xsd

<?xml version="1.0" encoding="UTF-8"?>
	<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
             targetNamespace="https://www.w3.org/ns/dbsc/saml"
             xmlns:dbsc="https://www.w3.org/ns/dbsc/saml"
             elementFormDefault="qualified"
             version="1.0">

  <xs:annotation>
    <xs:documentation>
      XML Schema for Device Bound Session Credentials (DBSC) SAML Extensions.
      As described in: https://github.com/WICG/dbsc-sso#saml-assertion-and-oidc-tokens
    </xs:documentation>
  </xs:annotation>

  <xs:simpleType name="HashingAlgorithmType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SHA-256"/>
      <xs:enumeration value="SHA-384"/>
      <xs:enumeration value="SHA-512"/>
    </xs:restriction>
  </xs:simpleType>
	<xs:element name="TrustedKey">
    <xs:annotation>
      <xs:documentation>
        The public key digest trusted by the Identity Provider issuing the SAML assertion.
      </xs:documentation>
    </xs:annotation>
		<xs:complexType>
			<xs:attribute name="digest" type="xs:base64Binary" use="required">
			</xs:attribute>
			<xs:attribute name="digest_alg" type="dbsc:HashingAlgorithmType" use="required">
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="TrustedCertificate">
    <xs:annotation>
      <xs:documentation>
        The certificate fingerprint trusted by the Identity Provider issuing the SAML assertion.
      </xs:documentation>
    </xs:annotation>
		<xs:complexType>
			<xs:attribute name="fingerprint" type="xs:base64Binary" use="required">
			</xs:attribute>
			<xs:attribute name="fingerprint_alg" type="dbsc:HashingAlgorithmType" use="required">
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>
